/* https://css-tricks.com/ease-out-in-ease-in-out/ */
.animate-reveal {
    opacity: 0;
    -webkit-animation: reveal 1s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
    -moz-animation: reveal 1s ease-in 1 normal forwards;
    -o-animation: reveal 1s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
    animation: reveal 1.5s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
    transition: all 1s ease-out;
  }
  
  
  /* //   .animate-first {
  //     -webkit-animation-delay: 0;
  //        -moz-animation-delay: 0;
  //          -o-animation-delay: 0;
  //             animation-delay: 0;
  //   }
  
  //   .animate-second {
  //     -webkit-animation-delay: 500ms;
  //        -moz-animation-delay: 500ms;
  //          -o-animation-delay: 500ms;
  //             animation-delay: 500ms;
  //   }
  
  //   .animate-third {
  //     -webkit-animation-delay: 1s;
  //        -moz-animation-delay: 1s;
  //          -o-animation-delay: 1s;
  //             animation-delay: 1s;
  //   } */
  
  @-webkit-keyframes reveal {
    0% {
      opacity: 0;
      -webkit-transform: translateY(10%);
      -moz-transform: translateY(10%);
      -o-transform: translateY(10%);
      transform: translateY(10%);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
    }
  }
  
  @-moz-keyframes reveal {
    0% {
      opacity: 0;
      -webkit-transform: translateY(20%);
      -moz-transform: translateY(20%);
      -o-transform: translateY(20%);
      transform: translateY(20%);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
    }
  }
  
  @-o-keyframes reveal {
    0% {
      opacity: 0;
      -webkit-transform: translateY(20%);
      -moz-transform: translateY(20%);
      -o-transform: translateY(20%);
      transform: translateY(20%);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
    }
  }
  
  @keyframes reveal {
    0% {
      opacity: 0;
      -webkit-transform: translateY(10%);
      -moz-transform: translateY(10%);
      -o-transform: translateY(10%);
      transform: translateY(10%);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
    }
  }
  
  .hover {
      transition: all 0.3s ease 0s;
      cursor: pointer;
      color: grey
  }
  
  .hover:hover {
      transform: translateY(-2px);
      color: red;
  }
  
  #sign-in-title {
    font-family: "Bebas Neue";
  }
  